[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
sklearn = "*"
pandas = "*"
matplotlib = "*"
imblearn = "*"
tensorflow = "*"
xgboost = "*"
Keras = "*"

[dev-packages]

[requires]
python_version = "3.8"
